@charset "utf-8";

/*
	Grant Facts Layout Styles

    Author: Jonathan Kinney
    Date Created:   04/10/2025
    Last Modified: 04/22/2025

	Filename: gf_layout.css

*/

* {
	box-sizing: border-box;
} 

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	width: 100%;
	overflow: hidden;
}

body > header > a {
	display: block;
	width: 100%;
	max-width: 100%;
}

body > nav {
	width: 100%;
}

body > article#about_gf {
	width: 100%;
}

body > aside {
	width: 100%;
}

body > article#about_gf img {
	float: right;
	width: 50%;
	margin-left: 10px;
	transform: rotateY(180deg);
	box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.4);
}
