@charset "utf-8";
/*
   Grant Facts Style Sheet
   Author: Jonathan Kinney
   Date:   04/10/2025
   
   Filename: gf_styles.css
*/

/* HTML and Body Styles */
html {
   background: url("resources/capitolbackground.png") no-repeat;
   background-size: 105%;
   background-position: 35% 0%;
}

body {
   background: url("resources/parchmentbackground.png");
   background-size: cover;
   background-color: rgb(50, 50, 50);
   font-family: "Trebuchet MS", "Verdana", sans-serif;
}


/* Heading Styles */
h1 {
   font-size: 2.5em;
   font-family: 'Georgia', serif;
   text-align: center;
   padding: 10px;
   background-color: hsl(220, 50%, 20%);
   color: white;
   border: 2px solid #5c4127;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 20px 0;
}

article#about_gf h1 {
   color: white;
   background-color: hsl(220, 72%, 7%);
}


/* Aside and Blockquote Styles */
aside {
   font-size: 0.8em;
   width: 100%;
   box-sizing: border-box;
}

aside blockquote {
   color: rgb(220, 220, 220);
   font-family: cursive;
   font-size: 1.2em;
   margin: 20px 5px;
   quotes: "\201C" "\201D";
}

aside blockquote::before {
   content: open-quote;
   font-size: 1.6em;
   font-weight: bold;
}

aside blockquote::after {
   content: close-quote;
   font-size: 1.6em;
   font-weight: bold;
} 


/* Navigation Styles */	
nav {
   font-size: 1em;
   width: 100%;
   box-sizing: border-box;
}

nav > ul {
   line-height: 2em;
   list-style-type: none;
   padding-left: 5px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
   color: rgb(220, 220, 220);
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
   color: rgb(255, 64, 64);
   text-decoration: underline;
}


/* Aside and Nagivation Styles */
nav h1, aside h1 {
   font-size: 1.4em;
   border-bottom: 3px double #5c4127;
   padding-bottom: 0.2em;
   margin-bottom: 0.5em;
   color: #e8a574;
   letter-spacing: 0.05em;
   text-align: center;
}

article, nav, aside {
   border: 4px double #5c4127;
   padding: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}